body, html {
  background-color: #121212;
  color: #FFFFFF;
  height: 100%;
}

h2, p {
  text-align: center;
}

.Passed {
  background-color: #75E900;
}

.Failed {
  background-color: #CF6679;
}

.passedtext {
  color: #75E900;
}

.failedtext {
  color: #CF6679;
}

.results {
  font-size: x-large;
}

div.testresult {
  background-color: #EEE;
  border-bottom: 1px solid #aaa;
  border-collapse: collapse;
  margin-bottom: 50px;
  outline-style: outset;
  padding-bottom: 10px
}

table {
  margin: auto;
}

table, th, td {
  background-color: #242424;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  background-color: #363636;
}
